.post {
    width: 60vw;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px; 
}

.header {
    background-image: url("bannerBackgroundImage_wmbf6g1dei301.png"); 
    height: 200px;
}
html {
    background-color: #DAE0E6;
}

h1{
    background-color: white;
}

li {
    list-style-type: none;
}